{% extends 'layouts/base.twig' %}

{% block headers %}
<script defer src="{{ full_url_for('base_path') }}/js/form.js"></script>
<script defer src="{{ full_url_for('base_path') }}/js/modal.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="form">
        <center><h1>Login</h1></center>

        <form action="{{ url_for('signin-post') }}" method="POST">
            <div class="form_grid">
                <div class="form_option">
                    <label for="user_name"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" value="{{ data.0.username }}"
                    {% if errors.0.username %}
                        style="background-color: #ffdada; border: 2px solid red;">
                        <div class="form_option_error">
                            {% for error in errors.0.username %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                    >
                    {% endif %}  
                </div>

                <div class="form_option">
                    <i class="fa-regular fa-eye show_pass" id="show_pass"></i>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" value="{{ data.0.password }}"
                    {% if errors.0.password %}
                        style="background-color: #ffdada; border: 2px solid red;">
                        <div class="form_option_error">
                            {% for error in errors.0.password %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                    >
                    {% endif %} 
                </div>

                <div class="form_option">
                    <button type="submit" style="font-size: 17px; font-weight: bold;">Sign In</button>
                </div>

                <div class="form_option">
                    <div class="separator_line">
                        <div class="line"></div>
                        <p class="separator_text">OR</p>
                    </div>
                </div>

                <div class="form_option">
                    <button style="background: #dedede; font-size: 17px;font-weight: bold; color:#5c5c5c" id='google_auth' value="{{ google_code }}">
                        <img src="{{ full_url_for('base_path') }}/img/google.png" style="width:25px; height: auto; margin-right: 5px; vertical-align: -6px">
                        Continue with Google
                    </button>
                </div>

                <div class="form_option">
                    <a class="forgot_pass" href="#" style="color: grey;">I forgot my password</a>
                </div>
            </div>
        </form>

        {% if message %}
        <div class="form_message">
            <p>{{ message.0 }}</p>
        </div>
        {% endif %}
    </div>

    <div class="form">
        <a class="color_form" href="{{ url_for('signup-get') }}">New on Matcha? Sign Up</a>
    </div>
</div>
{% endblock %}

