{% extends 'layouts/base.twig' %}

{% block headers %}

<script defer src="http://localhost:8000/js/slider.js"></script>
<script defer src="http://localhost:8000/js/modal.js"></script>

{% endblock %}


{% block content %}

<div class="modal">
    <span class="close">&times;</span>
    <div class="modal-content"><img id="img_select"></div>
</div>

<div class="container">
    <div class="profile">
        <div class="slider">
            {% if profile_photos.count() > 0 %}
                <div class="slider-line">
                    {% for profile_photo in profile_photos %}
                        <img src="http://localhost:8000/img/{{ profile_photo.path }}" value="{{ profile_photo.id }}">
                    {% endfor %}
                </div>
                {% if profile_photos.count() > 1 %}
                    <i class="fa-solid fa-angle-left" id="slider-prev" style="top: 47%;"></i>
                    <i class="fa-solid fa-angle-right" id="slider-next" style="top: 47%; right: 0;"></i>
                    <div class="slider-pointer"></div>
                {% endif %}
            {% else %}
                <div class="slider-line">
                    <img src="http://localhost:8000/img/def_avatar.jpeg">
                </div>
            {% endif %}
        </div>
        <div class="username">
            {{ user.username }}, 22
        </div>
        <div class="aboutMe">
            <p>About Me</p>
            {% if user.profile.about_me %}
                {{ user.profile.about_me }}
            {% else %}
                Nothing
            {% endif %}

        </div>

        <a href="{{ url_for('profile_settings-get') }}"><button>Edit profile</button></a>
                
    </div>
</div>

{% endblock %}
