{% extends 'layouts/base.twig' %}

{% block headers %}
<script defer src="http://localhost:8000/js/slider.js"></script>
<script defer src="http://localhost:8000/js/modal-success.js"></script>
<script defer src="http://localhost:8000/js/notification.js"></script>
<link rel="stylesheet" type="text/css" href="{{ full_url_for('base_path') }}/css/success_animation.css">
{% endblock %}

{% block modal %}
<div class="modal">
    <div class="modal-content">
        <div class="modal_message close">
            <div style="margin:2vh 25vh">
                <div class="success-checkmark">
                    <div class="check-icon">
                        <span class="icon-line line-tip"></span>
                        <span class="icon-line line-long"></span>
                        <div class="icon-circle"></div>
                        <div class="icon-fix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="profile">
        <div class="form_grid">
            {% if profile.is_blocker %}
                <div class="form_option" style="text-align: center;">
                    <h2>{{ profile.user.username }} has restricted your access to his page.</h2>
                </div>
            {% else %}
                <div class="form_option">
                    <div class="slider">
                    {% if profile.profile_photos.count() > 0 %}
                        <div class="slider-line">
                            {% for profile_photo in profile.profile_photos %}
                                <img src="http://localhost:8000/img/{{ profile_photo.path }}" value="{{ profile_photo.id }}">
                            {% endfor %}
                        </div>
                        {% if profile.profile_photos.count() > 1 %}
                            <i class="fa-solid fa-angle-left" id="slider-prev" style="top: 47%;"></i>
                            <i class="fa-solid fa-angle-right" id="slider-next" style="top: 47%; right: 0;"></i>
                            <div class="slider-pointer"></div>
                        {% endif %}
                    {% else %}
                        <div class="slider-line">
                            <img src="http://localhost:8000/img/def_avatar.jpeg">
                        </div>
                    {% endif %}
                    </div>
                </div>

                <div class="form_option">
                    <div class="username">
                        {{ profile.user.username }}
                        {% if profile.age %}
                            , {{ profile.age }}
                        {% endif %}
                    </div>
                </div>

                {% if profile.id != getProfile().id %}
                    <div class="form_option" style="color:grey;">
                        <div id="last_activity" value="{{ profile.last_activity }}"></div>
                        <br>
                        <p><i class="fa-solid fa-location-dot"></i> {{ profile.distance }} kilometer(s) from you</p>
                    </div>
                {% endif %}
                
                <hr>

                <div class="form_option">
                    <h3>About</h3>
                    {% if profile.about_me %}
                        <p style="color:grey; margin: 10px 0">{{ profile.about_me }}</p>
                    {% else %}
                        <p style="color:grey; margin: 10px 0">Nothing</p>
                    {% endif %}   
                </div>

                <div class="form_option">
                    <h3>Interests</h3>
                    <div class="tags">
                        {% for tag in profile.interests %}
                            <div class="tag">{{ tag.name }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form_option">
                    <h3>Popularity</h3>
                    <div class="populary">
                        <div class="populary-line" style="width:{{ profile.fame_rating_percent }}%"></div>
                    </div>
                </div>
            {% endif %}

            <hr>

            {% if profile.id == getProfile().id %}
                <a href="{{ url_for('profile_settings-get') }}"><button>Edit profile</button></a>
            {% else %}
                <div class="form_option" style="display: flex; justify-content: space-around;">
                    <button id="report" href="{{ full_url_for('report_fake_profile', {'profile_id': profile.id}) }}" 
                        style="width: 40%; font-weight: bold; 
                        {% if profile.is_reported %}
                            background-color: #ccc; pointer-events: none;" disabled>Reported
                        {% else %}
                            background-color: #ff7c00a3;">Report fake account
                        {% endif %}
                        </button>
                    <button id="block"
                        block-action="{{ full_url_for('block_profile', {'profile_id': profile.id}) }}"
                        unblock-action="{{ full_url_for('unblock_profile', {'profile_id': profile.id}) }}"
                        blocked="{{ profile.is_blocked }}"
                        style="width: 40%; font-weight: bold;
                        {% if profile.is_blocked %}
                            background-color: rgba(1, 172, 35, 0.74);">Unblock
                        {% else %}
                            background-color: #ff0000a3;">Block
                        {% endif %}
                    </button>
                </div>
            {% endif %}
        </div>                
    </div>
</div>

{% endblock %}
